* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 60px;
    width: 100%;
    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}


.game-container {
    margin: 5px 5px;
    height: 600px;
    width: 480px;
    border: 3px solid black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.maze-container {

    position: relative;
    height: 400px;
    width: 450px;
    border: 3px solid black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fog {
        position: absolute;
        height: 400px;
        width: 450px;
        border-radius: 20px;
        z-index: 10;

    }

    .row {
        position: relative;
        width: 400px;
        height: 16px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* #id4-7 {
            background-color: red;
        } */


    .cell {
        position: relative;
        height: 16px;
        width: 16px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        
    }
}

.controls {

    height: 150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 26px solid black;
        border-top: 0;
        background-color: white;
        cursor: pointer;
    }

    #right {
        transform: rotate(90deg);

    }

    #down {
        transform: rotate(180deg);

    }

    #left {
        transform: rotate(-90deg);

    }

    .updown {
        display: flex;
        flex-direction: column;
        margin-top: -55px;
        gap: 80px;
    }

    .leftright {
        display: flex;
        gap: 74px;
        left: -15px;
        margin-top: -80px;
    }



}

.btns {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    button {
        width: 100px;
        height: 20px;
    }

}

.modale{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    
    color:green;
  
    z-index: 20;
}

footer {
    color: white;
    height: 30px;
    width: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}